<div class="header-top">
  <div class="col-md-12">
    <ul class="bar-left color">
      <li>Welcome to Our store Multikart</li>
      <li><i class="fas fa-phone icon-phone"></i>Call Us: 123 - 456 - 7890</li>
    </ul>

    <ul class="bar-right color">
      <li><i class="fas fa-random icon"></i><a href="#">Compare</a></li>
      <li><i class="fas fa-heart icon"></i><a href="#">Wishlist</a></li>
      <li><i class="fas fa-user icon"></i><a href="#">My Account</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header-bottom">
        <div class="bar-top">
          <a href="#"><img src="./assets/images/logo.PNG" alt="logo"></a>
          <div class="clearfix"></div>
          <ul class="header-bottom-right">
            <li><i class="fas fa-search"></i></li>
            <li><i class="fas fa-cog"></i></li>
            <li><i class="far fa-trash-alt"></i></li>
          </ul>
        </div>
        <hr>
        <div class="bar-bottom">
          <ul>
            <li><a href="#">Home</a></li>
            <li (click)="changeProducts()">Products</li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style="background-image: linear-gradient(255,255,255,0.5)"
        src="./assets/images/background1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <span>Save 10%</span>
        <h1>Fresh vegetables</h1>
        <button type="button" class="btn btn-primary btn-lg">Subcribe</button>
      </div>

    </div>
    <div class="carousel-item">
      <img class="d-block w-100 background" src="./assets/images/background2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <span>Save up to 10%</span>
        <h1>Fresh vegetables</h1>
        <button type="button" class="btn btn-primary btn-lg">Subcribe</button>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="./assets/images/car.png" alt="car">
      <div>
          <h6>free shipping</h6>
          <span>Free shipping world wide</span>
      </div>
    </div>
    <div class="col-md-4">
      <img src="./assets/images/clock.png" alt="clock">
      <div>
          <h6>24 X 7 service</h6>
          <span>Online service for new customer</span>
      </div>
    </div>
    <div class="col-md-4">
      <img src="./assets/images/speaker.png" alt="speaker">
      <div>
          <h6>festival offer</h6>
          <span>New online special festival offer</span>
      </div>
    </div>
  </div>
</div>