<section class="info">
  <!-- <div class="footer-top"> -->


  <div class="container">
    <!-- <div class="footer-top"> -->
      <div class="row footer-top">
        <!-- <div class="footer-top"> -->
        <div class="col-md-6 footer-top-left">
          <h5>know it all first!</h5>
          <p class="color">Never Miss Anything From Multikart By Signing Up To Our Newsletter.</p>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
              <input type="text" class="form-control" id="inputPassword2" placeholder="Enter your email">
            </div>
            <button type="button" class="btn btn-primary btn-lg">Subcribe</button>
          </form>
          <!-- </div> -->
        </div>
      </div>
    <!-- </div> -->
  </div>
  <!-- </div> -->

  <div class="container">
    <div class="row">
      <!-- <div class="footer-botton"> -->
      <div class="col-lg-4 col-md-6">
        <a href="#"><img src="./assets/images/logo.PNG" alt="logo" style="margin-top: -30px"></a>
        <p class="color">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit error officia eligendi?
          Animi et pariatur dolores doloremque veniam ipsa iste quos, vel facere omnis reprehenderit
          saepe magni nemo mollitia porro.
        </p>
        <ul class="item-soccial">
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-google-plus-g"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fas fa-wifi"></i></li>
        </ul>
      </div>
      <!-- <div class="col-md-6"> -->
      <div class="col offset-xl-1">
        <h6>CATEGORIES</h6>
        <ul class="color nav-footer">
          <li><a href="#">Womens Fashion</a></li>
          <li><a href="#">Mens Fashion</a></li>
          <li><a href="#">Kids Fashion</a></li>
          <li><a href="#">Featured</a></li>
        </ul>
      </div>
      <div class="col">
        <h6>WHY WE CHOOSE</h6>
        <ul class="color nav-footer">
          <li><a href="#">Shipping & Return</a></li>
          <li><a href="#">Secure Shopping</a></li>
          <li><a href="#">Gallary</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="col">
        <h6>STORE INFORMATION</h6>
        <ul class="color nav-footer">
          <li><i class="fas fa-map-marker-alt icon"></i>Multikart Demo Store, Demo Store India 345-659</li>
          <li><i class="fas fa-phone icon"></i>Call Us: 123-456-7898</li>
          <li><i class="far fa-envelope icon"></i>Email Us: Support@Fiot.Com</li>
          <li><i class="fas fa-fax icon"></i>Fax: 123456</li>
        </ul>
      </div>
    </div>
    <!-- </div> -->
  </div>
</section>

<footer>
  <div class="container color">
    <p> &copy; 2019 theme forest powered by pixelstrap</p>
  </div>
</footer>