/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

*{
    font-size: 14px;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}


ul li{
    list-style: none;
    display: inline-block;
    padding-left: 25px;
}

ul li a{
    text-decoration: none;
}

.icon{
    padding-right: 5px;
}



/* .header-top{
    background-color: rgb(250, 246, 246);
    width: 100%;
    height: 50px;
}

.bar-right{
    float: right;
    margin-top: -40px;
    padding-right: 123px;
}

.bar-left{
    padding-top: 15px;
    padding-left: 120px;
} */

.color a, .color{
    color: rgb(160, 159, 159);
}
/* .icon-phone{
    color: red;
    padding-right: 5px;
}



.header-bottom{
    text-align: center;
    text-transform: uppercase;
}

.bar-bottom{
    padding: 20px;
}

.bar-bottom a{
    color: black;
}

.header-bottom-right{
    float: right;
} */

h4{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}




.foodmarket{
    background-image: url(/assets/images/bg-trendingproduct.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content-foodmarket{
    padding-top: 190px;
    padding-bottom: 190px;
    padding-left: 125px;
}

h3{
    font-size: 100px;
    color: red;
}

h2{
    font-size: 50px;
    text-transform: uppercase;
}